{{define "start"}}
<div class="p-5 mb-4  bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Writing your own blog</h1>
      <p class="col-md-8 fs-4">If you're an existing member and have logged in, we warmly invite you to delve deeper into your enriching blog adventure.This is not merely about logging in, but rather a call to embrace the profound connection that lies within each post, fostering personal growth and collective enlightenment.

      </p>
      <button class="btn btn-primary btn-lg" type="button" ><a href="post" class="nav-link px-2 text-white">Getting started here!</a></button>
    </div>
</div>
{{end}}